<h1>Enter Video</h1>

<form action="/videos" method="POST">
  <input type="text" name="title" id="title" autofocus>
  <input type="text" name="description" id="description">
  <input type="text" name="url" id="url">
  <input type="text" name="genre" id="genre">
  <button>Add Video to Library</button>
</form>
<form action='/' method="get">
  <button class="button">Return to Videos</button>
</form>