<p>Welcome to the show video page</p>
<h1><%=@videos['title']%></h1>
<h1><%=@videos['description']%></h1>
<h1><%=@videos['url']%></h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/<%=@videos['url']%>" frameborder="0" allowfullscreen></iframe>
