body {
  font-family: arial;
  color: white;
  margin: 3%;
  background-color: #6E94A3;
}
h1 {
  font-size: 42px;
}
form {
  font-size: 14px;
  padding:1%
}
button {
  font-size: 16px;
  height: 32px;
  width: 180px;
  border: 2px solid white;
  border-radius: 7px;
}
input {
  font-size: 16px;
  height: 24px;
  min-width: 52px;
}
p {
  display: inline-block;
  vertical-align: top;
  font-size: 32px;
  color: white;
}